<%- include('layout/header.ejs') %>	

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles/main.css" />
	<title>Souveniers accounting</title>
	<script>
 	function showDescription(id) {
		let element = document.getElementById(id);
		element.classList.remove('hidden');
 	}

	function exitDescription(id) {
		let element = document.getElementById(id);
		element.classList.add('hidden');
	}
	</script>
</head>

<body>
	<div class="body-container">
		<div class="options-container">
			<form action="" method="post">
			<div class="filter-container">
				<label for="filterBy">Filter by:</label>
				<select id="filterBy" name="filterBy" id="filterBy"
					<% if(filterBy) {%> 
						value="<%=filterBy %>"
					<% } %>>
					<option <%if(filterBy == 'id') {%>selected="selected"<%} %> value="id">ID</option>
					<option <%if(filterBy == 'name') {%>selected="selected"<%} %> value="name">Name</option>
					<option <%if(filterBy == 'barCode') {%>selected="selected"<%} %> value="barCode">Barcode</option>
					<option <%if(filterBy == 'color') {%>selected="selected"<%} %> value="color">Color</option>
					<option <%if(filterBy == 'quantity') {%>selected="selected"<%} %> value="quantity">Quantity</option>
					<option <%if(filterBy == 'price') {%>selected="selected"<%} %> value="price">Price</option>
				</select>
				<input type="text" id="filterValue" name="filterValue" 
				<% if(filterValue) { %> 
					value="<%=filterValue %>">
				<% } else { %>
					value=""> 
				<% } %>  
				<input class="button" type="submit" value="Filter">
			</div></form>
			<div class="add-item-container">
				<button class="button" onclick="window.location.href='AddProduct'">Add souvenier</button>
			</div>
		</div>
		<div class="pagination" id="pagination">
			<% if (pagesCount > 1) { %> 
				<a class="page" <%if(page != 1) {%> 
											href="?page=<%=page - 1%>&filterValue=<%=filterValue%>&filterBy=<%=filterBy%>"
											<% } %> >&laquo;</a>
				<% for (let i = 1; i <= pagesCount; i++) {%> 
					<a class="page <%if(page==i){%>active<%} %>" href="?page=<%=i%>&filterValue=<%=filterValue%>&filterBy=<%=filterBy %> "><%=i %></a>
				<% } %> 
				<a class="page" <%if(page != pagesCount) {%>
											href="?page=<%=page + 1%>&filterValue=<%=filterValue%>&filterBy=<%=filterBy%>"
											<% } %> >&raquo;</a>
			<% } %> 
		</div>
		
		<div class="main-container list">
			<% if (tableData.length !== 0) { %>
				<% tableData.forEach(function(product){ %>
					<div class="product-container">
						<div class="image-container"> 
							<% var id = product.id %>
							<img class="product-view-image" src=<%=product.productImageUrl%> onclick="showDescription('<%=id %>')"></img>
						</div>
						<div>
							<div class="product-info">
								<div>Name: <span class="name"><b><%= product.name %></b></span></div>
								<div class='hidden'>ID: <span class="id"><b><%= product.id %></b></span></div>
								<div class="hidden">Barcode: <span class="barCode hidden"><b><%= product.barCode %></b></span></div>
								<div>Quantity: <span class="quantity"><b><%= product.quantity %></b></span></div>
								<div>Price: <span class="price"><b><%= product.price%> kn</b></span></div>
								<div class="hidden">Color: <span class="color "><b><%= product.color%></b></span></div>
							</div>
							<div class="buttons-container">
								<a class="button" href='Edit/<%= product.id %>'>Edit</a>
								<form action="" class="delete-form" method="delete">
									<a class="button" href="RemoveProduct/<%= product.id %>" onclick="return confirm('Are you sure you want to delete item?')">Delete</a>
								</form>
							</div>
						</div>
					</div>
					<% var elementId = product.id %>
					<% var elementName = product.name %> 
					<div class="hidden description-container" id="<%=elementId%>"  name="<%=elementName%>">
						<img class="exit-icon" src="styles/images/cross.png" onclick="exitDescription('<%=elementId%>')"></img>
						<div class="info-container">
							<div class="product-information">
								<div class="info-row">Name: <span class="name"><b><%= product.name %></b></span></div>
								<div class="info-row">ID: <span class="id"><b><%= product.id %></b></span></div>
								<div class="info-row">Barcode: <span class="barCode"><b><%= product.barCode %></b></span></div>
								<div class="info-row">Quantity: <span class="quantity"><b><%= product.quantity %></b></span></div>
								<div class="info-row">Price: <span class="price"><b><%= product.price%> kn</b></span></div>
								<div class="info-row">Color: <span class="color "><b><%= product.color%></b></span></div>
							</div>
							<img class="description-image" src=<%=product.productImageUrl%>></img>
						</div>
					</div>
				<% }) %>
			<% } else {%>
					<div class = "error filter-matches" id="filterMatches">No matches...</div>
			<% } %> 
		</div>
	</div>

</body>
</html>

<%- include('layout/footer.ejs') %>
